body{font-family: sans-serif;}
*{margin: 0;
    box-sizing: border-box;
    padding:  0.5%;}
html {
    text-decoration: none;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;}
body {margin: 0;}
button{
    display: inline-block;
    background-color: #2196f3;
    justify-self: center;
    color: #fff;
    padding: 7px 21px;
    border-radius: 10px;}
select{font-size: large;}
div{text-transform: uppercase;}
h1{
    background-color: #003785;
    color: #fff;
    border-radius: 10px;
    border: 5px ridge #0089e4;}
dt{background-color: #81c9fa;
    border-style:groove;
    border-color: #0089e4;
    border-radius: 8px;}
.seccion{display: none;}
.activa{display: block;}
.titulo-seccion{
    background-color: #1465bb;
    color: #fff;
    border: 3px ridge #0089e4;
    border-radius: 10px;}
.boton-salir{background-color: rgb(192, 44, 73);
margin-left: 45%;}
.menu_paciente{
    margin-left: 5%;
    margin-right: 5%;}