body{font-family: sans-serif;}
*{margin: 0;
    box-sizing: border-box;
    padding:  0.5%;}
html {
    text-decoration: none;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;}
body {margin: 0;}
button{
    display: inline-block;
    background-color: #2196f3;
    justify-self: center;
    color: #fff;
    padding: 7px 21px;
    border-radius: 10px;}
select{font-size: large;}
div{text-transform: uppercase;}
h1{
    background-color: #003785;
    color: #fff;
    border-radius: 10px;
    border: 5px ridge #0089e4;}
dt{background-color: #81c9fa;
    border-style:groove;
    border-color: #0089e4;
    border-radius: 8px;}
.seccion{display: none;}
.activa{display: block;}
.titulo-seccion{
    background-color: #1465bb;
    color: #fff;
    border: 3px ridge #0089e4;
    border-radius: 10px;}
.boton-salir{background-color: rgb(192, 44, 73);
margin-left: 45%;}
.menu_paciente{
    margin-left: 5%;
    margin-right: 5%;};
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

    :root{
        --padding-container: 100px 0;
        --color-tittle: #001A49;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
    
    .material-icons{
        font-size: 16px;
    }
    
    .datatable-container{
        font-family: 'Noto Sans', sans-serif;
        background-color: #1D293F;
        border-radius: 3px;
        color: #2091F9;
        width: auto;
        margin: 0 auto;
        padding-left: 10px;
        font-size: 12px;
    }
    
    .datatable-container .search{
        margin-left:10%;
    }
    
    .datatable-container .herramientas{
        border-bottom: solid 1px #1D293F;
        padding: 3px;
        display: flex;
        align-items: baseline;
        width: 70%;
        margin-left:10%;
    }
    
    .datatable-container .herramientas ul{
        padding: 10px;
        display: flex;
        justify-content: start;
        align-items: baseline;
    }
    
    .datatable-container .herramientas ul li{
        display: inline-block;
        margin: 5px;
        align-items: baseline;
        
    }
    
    .datatable-container form > label, input, select{
        margin: 5px;
        margin-left:10%;
        font-size: large;
    }
    
    .datatable-container table{
        border-collapse: collapse;
        width: 100%;
    }
    .datatable-container table th{
        font-weight: bolder;
        text-align: left;
        border-bottom: solid 2px #e5e5f7;
        font-size: x-large;
        
    }
    
    .datatable-container table td{
        padding: 10px 10px;
        border-bottom: solid 1px #e5e5f7;
        color:antiquewhite;
    }
    
    /*.datatable-container table tr:nth-child(even){
        background-color:#2e5cb3;
    }*/
    .container{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        *overflow: hidden;
        padding: var(--padding-container);
    }
    
    .hero{
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    
    .hero::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/fondo.jpg');
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
        z-index: -1;
    }
    .nav{
        --padding-container:0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .nav__title{
        font-weight: 300;
    }
    
    .nav__link{
        margin-left: auto;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 2em;
    }
    
    .nav__items{
        list-style: none;
        position: relative;
        
        
    }   
    
    .nav__links{
        color: #fff;
        text-decoration: none;
    }
    
    .nav__items{
        list-style: none;
    }
    
    nav > ul > li:first-child > a{
        background-image: url("/Práctica1/images/medico.png");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: 100px;
        color: #e5e5f7;
    }
    
    nav > ul> li:first-child:hover > a{
        background-image: url("/Práctica1/images/medico.png");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: 100px;
    }
    nav > ul > li > a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 14px;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 300ms ease;
    }
    nav > ul > li > a:hover{
        transform: scale(1.1);
        background-color: #2091F9;
        box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.5);
    }
    
    #selected{
        transform: scale(1.1);
        background-color: #2091F9;
        box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.5);
    }
    
    nav ul li ul {
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 90px;
        
        padding: 14px 0px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.5);
        z-index: 10;
        transition: all 300ms ease;
        list-style: none;
        
    }
    
    nav ul li:hover ul{
        visibility: visible;
        opacity: 1;
        top: 70px;
        
    }
    
    nav ul li ul::before{
        content: "";
        width: 0;
        height: 0;
        border-left: 12px transparent;
        border-right: 12px solid transparent;
        border-bottom: 13px solid ;
        position: absolute;
        top: -12px 20px;
        left: 20px;
    }
    nav ul li ul li a{
        display: block;
        padding: 6px;
        padding-left: 14px;
        margin-top: 10px;
        font-size: 14px;
        text-transform: uppercase;
        transition: all 300ms ease;
        text-decoration: none;
        color: #1D293F;
    }
    
    .nav__login{
        max-width: 200px;    
    }
    
    .nav__boton__login{
        margin-left: 30px;
    }
    
    .nav__menu{
        margin-left: auto;
        cursor: pointer;
        display: none;
    }
    
    .nav__img{
        display: block;
        width: 30px;
        
    }
    
    .nav__close{
        display: var(--show, none);
    }
    
    .hero__container{
        max-width: 800px;
        display: grid;
        --padding-container:0;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
    }
    
    .hero__title{
        font-size: 3rem;
    }
    
    .hero.paragraph{
        margin-bottom: 20px;
    }
    
    .cta{
        display: inline-block;
        background-color: #2091F9;
        justify-self: center;
        color: #fff;
        text-decoration: none;
        padding: 13px 30px;
        border-radius: 32px;
    }
    
    .about{
        text-align: center;
    }
    
    .subtitle{
        color: var(--color-tittle);
        font-size: 2rem;
        margin-bottom: 25px;
    }
    
    .about__paragraph{
        line-height: 1.7;
    }
    
    .about__main{
        padding-top: 80px;
        display: grid;
        width: 90%;
        margin: 0 auto;
        gap: 1em;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    }
    .about__icons{
        display: grid;
        gap: 1em;
        justify-items: center;
        width: 260px;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .about__icon{
        width: 40px;
    
    }
    
    .knowledge{
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 20px 20px;
        background-position: 0 0,10px 10px;
        overflow: hidden;
    }
    
    .knowledge__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        align-items: center;
    }
    
    .knowledge__picture{
        max-width: 500px;
    }
    .knowledge__paragraph{
        line-height: 1.7;
        margin-bottom: 15px;
    }
    
    .knowledge__img{
        width: 50%;
        display: block;
        
    }
    
    .questions__copy{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .footer{
        background-color: #1D293F;
    }
    
    .footer__title{
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    .footer__title, .footer__newsletter{
        color: #fff;
    }
    
    .footer__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 60px;
        padding-bottom: 60px;
    }
    
    .nav--footer{
        padding-bottom: 20px;
        display: grid;
        gap: 1em;
        grid-auto-flow: row;
        height: 100%;
    }
    
    .nav__link--footer{
        display:flex;
        margin: 0;
        margin-right: 20px;
        flex-wrap: wrap;
    }
    
    .footer__inputs{
        margin-top: 10px;
        display: flex;
        overflow: hidden;
    }
    
    .footer__input{
        background-color: #fff;
        height: 50px;
        display: block;
        padding-left: 10px;
        border-radius: 6px;
        font-size: 1rem;
        outline: none;
        border: none;
        margin-right: 16px;
    }
    
    .footer__submit{
        margin-left: auto;
        display: inline-block;
        height: 50px;
        padding: 0 20px;
        background-color: #2091F9;
        border-radius: none;
        font-size: 1rem;
        color: #fff;
        border-radius: 6px;
    }
    
    .footer__copy{
        --padding-container: 30px 0;
        text-align: center;
        color: #fff;
    }
    
    .footer__copyright{
        font-weight: 300;
    }
    
    .footer__icons{
        display: inline-flex;
        margin-bottom: 10px;
    }
    
    .footer__img{
        width: 30px;
    }
    
    
    @media (max-width:800px){
        .nav__menu{
            display: block;
        }
    }
    
